<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>Controlador.Servlets.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCliente</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>Controlador.Servlets.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCliente</servlet-name>
        <servlet-class>Controlador.Servlets.ActualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEmpleado</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEmpleado</servlet-name>
        <servlet-class>Controlador.Servlets.ListarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEmpleado</servlet-name>
        <servlet-class>Controlador.Servlets.ActualizarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProveedor</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProveedor</servlet-name>
        <servlet-class>Controlador.Servlets.ListarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProveedor</servlet-name>
        <servlet-class>Controlador.Servlets.ActualizarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarContacto</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarContacto</servlet-name>
        <servlet-class>Controlador.Servlets.ListarContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarContacto</servlet-name>
        <servlet-class>Controlador.Servlets.ActualizarContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPedido</servlet-name>
        <servlet-class>Controlador.Servlets.ListarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPedido</servlet-name>
        <servlet-class>Controlador.Servlets.ActualizarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarInvM</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarInvM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarInventarioM</servlet-name>
        <servlet-class>Controlador.Servlets.ListarInventarioM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarInvM</servlet-name>
        <servlet-class>Controlador.Servlets.ActualizarInvM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarInvH</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarInvH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarInventarioH</servlet-name>
        <servlet-class>Controlador.Servlets.ListarInventarioH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarInvH</servlet-name>
        <servlet-class>Controlador.Servlets.ActualizarInvH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controlador.Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPedido</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVenta</servlet-name>
        <servlet-class>Controlador.Servlets.ListarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVenta</servlet-name>
        <servlet-class>Controlador.Servlets.RegistrarVenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCliente</servlet-name>
        <url-pattern>/RegistrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCliente</servlet-name>
        <url-pattern>/ActualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEmpleado</servlet-name>
        <url-pattern>/RegistrarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEmpleado</servlet-name>
        <url-pattern>/ListarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEmpleado</servlet-name>
        <url-pattern>/ActualizarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProveedor</servlet-name>
        <url-pattern>/RegistrarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProveedor</servlet-name>
        <url-pattern>/ListarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProveedor</servlet-name>
        <url-pattern>/ActualizarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarContacto</servlet-name>
        <url-pattern>/RegistrarContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarContacto</servlet-name>
        <url-pattern>/ListarContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarContacto</servlet-name>
        <url-pattern>/ActualizarContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPedido</servlet-name>
        <url-pattern>/ListarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPedido</servlet-name>
        <url-pattern>/ActualizarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarInvM</servlet-name>
        <url-pattern>/RegistrarInvM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarInventarioM</servlet-name>
        <url-pattern>/ListarInventarioM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarInvM</servlet-name>
        <url-pattern>/ActualizarInvM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarInvH</servlet-name>
        <url-pattern>/RegistrarInvH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarInventarioH</servlet-name>
        <url-pattern>/ListarInventarioH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarInvH</servlet-name>
        <url-pattern>/ActualizarInvH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPedido</servlet-name>
        <url-pattern>/RegistrarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVenta</servlet-name>
        <url-pattern>/ListarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVenta</servlet-name>
        <url-pattern>/RegistrarVenta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
