.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalogo {
    border: 3px solid gray;
    padding: 1rem;
    border-radius: 3px;
}

.icon-cart {
    position: fixed;
    right: 0px;
    top: 50px;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    z-index: 2000;
}

.image12 {
  display: block;
  width: 286.667px;
  height: 353px;
}

.float-margin{
    float: left;
    width:284.667px;
    height: 353.25px;
}

.float{
    float: left;
    margin-top: 22px;
}

.bottom{
    margin-bottom: 8px;
}

.top{
    margin-top: 12px;
}

.badge-color{
    background-color:#982427;
}

.btcon{
  background: #982427;
  color: #FFFFFF;
}

/*Imagenes*/

.container-1 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
 position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  background-color: rgba(152, 36, 39,0.400);
}

.container-1:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 1;
}

.icon {
  color: #982427;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Efecto hacía abajo*/
/*.container-1 {*/
/*  position: relative;*/
/*  width: 100%;*/
/*}*/

/*.image {*/
/*  display: block;*/
/*  width: 100%;*/
/*  height: auto;*/
/*}*/

/*.overlay {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  opacity: 0;*/
/*  transition: .3s ease;*/
/*  background-color: rgba(152, 36, 39,0.400);*/
/*}*/

/*.container-1:hover .overlay {*/
/*  opacity: 1;*/
/*}*/

/*.icon {*/
/*  color: white;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  -ms-transform: translate(-50%, -50%);*/
/*  text-align: center;*/
/*}*/

/* 
.label-items {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
} */
.card{
    display: flex;
}


.pointer{
    cursor: pointer;    
}